.gHfqLF, .sc-gqjmRU{
font-size:large;
}
.fttvMS, .sc-cvbbAY{
display: none!important;
}
.dHABtm{
font-size:20px!important;
font-weight: bolder;
color: rgb(117 128 134)!important;
}
.kkhjjT > div {
    margin-top: 30px!important;
}
.kJWAFY{
    flex-direction: row!important;
    align-items: baseline!important;
}
.gRFjMP{
    margin:3px
}
.jjZFEi{
transform:none!important;
margin-top: -50px;
}
