.column{
flex-direction: column;
}
.flex-grow > * {
flex-grow: 1
}
.children-margin > *{
margin: 10px;
}
.slider{
width: 200px

}
.rc-slider-rail, .rc-slider-track{
    height: 10px
}
.tab--selected{
    border-top:4px solid rgba(var(--bs-primary-rgb),.5)!important;
    background-color:var(--bs-body-bg)!important;
    color:var(--bs-body-body)!important
}
.tab{
    border-color:rgba(100,100,100,.4)!important;
    background-color:var(--bs-body-bg)!important;
    color:var(--bs-body-body)!important
}
.center{
    justify-content: center;
}
.flex{
 display: flex;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.space-around{
    display: flex;
    justify-content: space-around;
}
.sensor-card{
    width: fit-content!important;
}
.children-margin-2 > *{
margin: 2px;
}
.card-title{
    font-size: 20px;
}
.full-width{
width: 100%;
}
.align{
    align-items: center;
}

.label-style{
    display: block;
    font-size: 14px;
    margin-bottom: 8px
 }

#upload-file{
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
.fa-check-circle{
    color: green;
}
.fa-exclamation-circle{
    color: orange;
}
.fa-times-circle{
    color: red;
}
.break-row {
flex-basis: 100%;
height: 0;
}