.column{
flex-direction: column;
}
.children-margin > *{
margin: 10px;
}
.grow > *{
    flex-grow:1
}
.rc-slider-rail, .rc-slider-track{
    height: 10px
}
.dash-spreadsheet-container table {
    --accent: #1EAEDB !important;
    --selected-background: #FF4136 !important;
    --selected-color: #3C3C3C !important;
}
table.cell-table th:hover {
    background-color: var(--bs-primary)!important;
}
table.cell-table{
text-align: left!important;
padding: 10px|important;
font-family: var(--bs-body-font-family)!important
}
.cell--selected{
    background-color:var(--bs-body-bg)!important;
    border-color:var(--bs-info)!important;
}
.tab--selected{
    border-top:4px solid rgba(var(--bs-primary-rgb),.5)!important;
    background-color:var(--bs-body-bg)!important;
    color:var(--bs-body-body)!important
}
.tab{
    border-color:rgba(100,100,100,.4)!important;
    background-color:var(--bs-body-bg)!important;
    color:var(--bs-body-body)!important
}
.center{
    justify-content: center;
}
.flex{
 display: flex;
}

.space-between{
    display: flex;
    justify-content: space-between;
}
.space-around{
    display: flex;
    justify-content: space-around;
}
#title{
    margin: 0;
}
.sensor-card{
    width: fit-content!important;
}
.children-margin-2 > *{
margin: 2px;
}
.card-title{
    font-size: 20px;
}
.full-width{
width: 100%;
}
.align{
    align-items: center;
}

.label-style{
    display: block;
    font-size: 14px;
    margin-bottom: 8px
 }

#upload-file{
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
.side-nav{
width: 20rem;
padding: 2rem 1rem;
border-right: groove;
}
.fa-check-circle{
    color: green;
}
.fa-exclamation-circle{
    color: orange;
}
.fa-times-circle{
    color: red;
}
.Select-menu-outer{
    color: black
}
.gHfqLF, .sc-gqjmRU{
font-size:large;
}
.fttvMS, .sc-cvbbAY{
display: none!important;
}
.dHABtm{
font-size:20px!important;
font-weight: bolder;
color: rgb(117 128 134)!important;
}
.kkhjjT > div {
    margin-top: 30px!important;
}
.kJWAFY{
    flex-direction: row!important;
    align-items: baseline!important;
}
.gRFjMP{
    margin:3px
}